@import "tailwindcss";


:root{
  --yellow:#FDC913;
  --gray-500:#5F5F5F;
  --gray-900:#292929;
  --red:#CE2829;
  --beige:#FAF7F2;
}
* { box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; }
body {
  font-family: "Barlow", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #fff !important;
  color: var(--gray-900);
}


/* 
function kokunuAl(sayi){
  return sayi*sayi*sayi;
}
  let sonuc = kokunuAl(5); //125 
  cosole.log(sonuc);

-----------------------------------
function Sayac(){
  const [sayac, setSayac) = useState(0);

  return (
    <div>
      <h1>Sayac: {count}</h1>
      <button onClick={() => setCount(count + 1)}>Arttır</button>
    </div>
  );
}
*/